/**
  * features/compose/components/annoucements
  */
.compose__extra__header {
  background: $ui-base-color;
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: lighten($ui-base-color, 4%);
  font-size: 16px;

  a {
    color: $white;
  }

  > i {
    padding-right: 4px;
  }

  &__icon {
    background: transparent;
    position: absolute;
    color: $white;
    border: 0;
    padding: 0;
    right: 20px;
    top: 8px;
    text-align: center;

    i {
      width: 14px;
    }
  }
}

.announcements {
  margin: 10px 0;

  ul {
    padding: 0 10px;
  }

  li {
    display: flex;
    padding: 10px;
    color: $black;
    background: darken($white, 10%);
    border-radius: 4px;
    margin-top: 10px;
  }

  .announcements__icon {
    flex: 0 0 auto;
    display: inline-block;
    overflow: hidden;
    width: 22px;
    height: 22px;
  }

  .announcements__body {
    width: 100%;

    p {
      padding-left: 5px;
      font-size: 14px;
    }

    .links {
      text-align: right;

      a {
        display: inline-block;
        color: $black;
        background: darken($white, 5%);
        text-decoration: none;
        padding: 1px 10px 0;
        border: solid 1px $black;
        font-size: 10px;
        font-weight: 600;
        border-radius: 4px;
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }
}
