@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('GLT'),
    url('../fonts/girls-last-tour/GLT-GonunneStrokeRI-400Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('GLT'),
    url('../fonts/girls-last-tour/GLT-GonunneStrokeRI-800Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('GLT'),
    url('../fonts/girls-last-tour/GLT-GonunneStrokeRI-600SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('GLT'),
    url('../fonts/girls-last-tour/GLT-GonunneStrokeRI-400Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
