@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('Naraku'),
    url('../fonts/naraku/Naraku_moji.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('Naraku'),
    url('../fonts/naraku/Naraku_moji.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('Naraku'),
    url('../fonts/naraku/Naraku_moji.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('Naraku'),
    url('../fonts/naraku/Naraku_moji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
